body {
    font-family:'Quicksand', sans-serif;
  }

.navbar{
    background-color: rgba(56, 56, 56, 0.555);

}


.backgroundContainer{
    background-image: url(../images/federico-bottos-G5HzCwu9tVc-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 65vw;
}

@media screen and (max-width:1080px) {
    .backgroundContainer{
        height: 85vw;
    }
}

@media screen and (max-width:580px) {
    .backgroundContainer{
        height: 180vw;
    }
}

@media screen and (max-width:420px) {
    .backgroundContainer{
        height: 230vw;
    }
}
@media screen and (max-height:420px) {
    .backgroundContainer{
        height: 60vw;
    }
}

.titleContainer{
    width: 100%;
    height: 65vw;
}

@media screen and (max-width:1080px) {
    .titleContainer{
        height: 85vw;
    }
}

@media screen and (max-width:580px) {
    .titleContainer{
        height: 180vw;
    }
}

@media screen and (max-width:420px) {
    .titleContainer{
        height: 230vw;
    }
}

@media screen and (max-height:420px) {
    .titleContainer{
        height: 60vw;
    }
}

#mainTitle {
    width: 100%;
    text-align: center;
    font-family: 'Libre Barcode 39 Text', monospace;
    font-size: 6.5vw;
    padding: 0;
    opacity: 0%;
    animation: fadein 5s;
    animation-fill-mode: forwards;
    
}

@keyframes fadein {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@media screen and (max-width:580px) {
    #mainTitle{
        font-size: 8vw;
    }
}

.descriptionContainer{
    margin: 12% 2% 5%;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    font-size: 3vw;
}

@media screen and (max-width:580px) {
    .descriptionContainer{
        margin: 15% 0 5%;
        padding: 2% 2%;
        font-size: 5vw;
        border: 2px solid;
        border-color: rgba(0, 0, 0, 0.075);

    }
}

#imageCarousel{
    background-color: rgb(29, 29, 29); 
    padding: 5% 0%; 
    margin-top: 15%;

}

.caroImage{
    height: 600px;
   
}

@media screen and (max-width:900px ) {
    .caroImage{
        height: 380px;
        width:480px;
    }
}

@media screen and (max-width:680px ) {
    .caroImage{
        height: 250px;
        width:325px;
    }
}

/*@media screen and (max-height:420px ) {
    .caroImage{
       width:600px;
        
    }
}*/

/*powerPhrase*/

#powerPhrase{
    padding: 25% 0%;   
    width: 85%;
    margin:auto;   
}


@media screen and (max-width: 580px) {
    #powerPhrase{
        padding: 15% 0 5%;
    }
}

.image1{
 position: absolute;
 top:-20%;
 filter: brightness(.8);
}

@media screen and (max-width: 580px) {
    .image1{
      display: none;
   }
}



.image2{
    position: absolute;
    left:25%;
    top: 18%;
    filter: brightness(1.1);
    
}

@media screen and (max-width: 580px) {
     .image2{
        position: relative;
        width: 100%;
        margin: auto;
        top:0;
        left:0;
        padding: 0 0 7%;
        
    }
}

.phraseContainer{
background-color: rgb(29, 29, 29);
padding:0;
}

@media screen and (max-width:580px) {
    .phraseContainer{
        position: relative;
        top: -50px;
    }
}

.powerPhraseDescription h2{
    text-align: center;
    padding-top: 9%;
    font-weight: 700;
    font-family:'Megrim', sans-serif;
    font-size: 3vw;
    color: white;
    letter-spacing: .1rem;
}

@media screen and (max-width:580px) {
    .powerPhraseDescription h2 {
        font-size: 7vw;
    }
 
}

.powerPhraseDescription p{
    padding: 7% 2%;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    font-size: 1.8vw;
    color: white;

}



@media screen and (max-width:580px) {
    .powerPhraseDescription p {
        font-size: 4vw;
    }
 
}

#contactForm{
    background-color: rgb(29, 29, 29);
}
.contactFormContainer{
    padding: 2%;
}

.contactFormContainer .row{
    color: white;
}

.form-group{
    border-radius: 0deg;
}

.descriptionForm{
    width: 100%;
    height: auto;
    margin: auto;
}

.descriptionForm h2{
    text-align: center;
    margin: 0;
   
    width: 100%;
    font-family: 'Libre Barcode 39 Text', monospace;
    font-size: 6.5vw;
}

@media screen and (max-width:580px) {
    .descriptionForm h2 {
        font-size: 10vw;
        padding-top: 7%;
    }
}

.descriptionForm p{
    text-align: center;
    font-family:'Quicksand', sans-serif;
    padding: 2%;

}

@media screen and (min-width:980px) {
    .descriptionForm p {
        padding: 1.5%;
    }
}
@media screen and (min-width:1080px) {
    .descriptionForm p {
        padding: 1%;
    }
}

#footer{
    margin: 0;
    padding: 7% 0 2%;
    background-color: white;
    text-align: center;
    font-size: 12px;
}

.fab{
    text-align: center;
    font-size: 35px;
    padding: 0% 1% 2%;
}

.fab:hover{
    color: rgb(90, 90, 90);
}
